node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# Database files
*.db
*.sqlite
*.sqlite3

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/
backend/app/__pycache__/
